.container {
  background-color: rgba(232, 213, 255, 0.5); /* 50% opacity */
  border-radius: 0.5rem; 
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  height: 100%; 
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.title {
  font-size: 1.5rem; 
  color: #000; 
  margin-bottom: 1rem; 
}

.listContainer {
  list-style-type: none; 
  padding: 0;
  margin: 0;
  overflow-y: auto; 
  max-height: calc(100vh - 6rem);
}

.listItem {
  background-color: rgba(168, 86, 246, 0.6); /* 60% opacity */
  color: #fff;
  padding: 0.5rem 1rem; 
  border-radius: 0.5rem; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Remove or comment out the logoutButton styles if not needed */
.logoutButton {
  display: none; /* Hide the logout button if it's no longer in use */
}
