/* signUp.module.css */

@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

.container {
  font-family: "Jersey 10", sans-serif;
  padding: 16px;
  background-color: rgba(199, 65, 154, 0.7); 
  color: white;
  border-radius: 8px;
  border: 2px solid #f54ade; 
  width: 100%;
  max-width: 400px;
}

.heading {
  font-family: "Jersey 10", sans-serif;
  text-align: center;
  margin-bottom: 8px;
  color: white;
  font-size: 2rem; 
  filter: drop-shadow(5px 3px 3px #000000);
}

.subheading {
  font-family: "Jersey 10", sans-serif;
  text-align: center;
  margin-bottom: 16px;
  color: white;
  font-size: 1.2rem; 
  filter: drop-shadow(5px 5px 5px #000000);
}

.input {
  background-color: white;
  color: black;
}
